.links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links-list li {
    width: 100%;
}

.doc-update {
    border: 1px solid black;
    padding: 1rem;
    margin-top: 5px;
    margin-bottom: 25px;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  