.links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links-list li {
    width: 100%;
}

.doc-update {
    border: 1px solid black;
    padding: 0.5rem;
    margin-top: 5px;
    margin-bottom: 25px;
}