.modal-window:target{
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}

.modal-window a:hover {
    color:red;
    text-decoration: none !important;
    border-bottom: none;
}

.modal-window > div {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3em;
    background: #ffffff;
    border: 1px solid black;
    border-radius: 2px;
}

.modal-window header {
	font-weight: bold;
}

.modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
}
.modal-window {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.25);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
  }
  
.modal-close {
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
}

.modal-close:hover {
	color: black;
}

.btn {
    border: 2px solid #008CBA;
    transition-duration: 0.4s;

    padding: 0.4rem;
    text-align: center;
    text-decoration: none;
    color:black;
}

.interior {
    margin: 1em;
}
.btn:hover {
    background-color: #008CBA;
    color: white;
}
  